body { background-image:url('/sod-bkgnd.png'); color: #fff }

body, p, ol, ul, td {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

.pagetop {
	font-size: 36px;
	color: #bbb;
	font-weight: bold;
	text-decoration: underline;
}

.spelllistheader {
	font-size: 18px;
	font-weight: bold;
	text-decoration: underline;
}

a { color: #fff; }
a:visited { color: #99f; }
a:hover { color: #ddd; background-color:#000; }

.leftnav a { color: #fff; font-size: 16px }
.leftnav a:visited { color: #fff; }
.leftnav a:hover { color: #fff; background-color:#000; }

div.field, div.actions {
  margin-bottom: 10px;
}

#notice {
  color: green;
}

#invalid_params {
	font-weight: bold;
	color: red;
	font-size: 16px;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
