html {
	height: 100%;
}

body { 
	height: 100%;
	/*background-image:url('/images/paper_back_faded.jpg');*/
	background-color: #000000;
	color:#4f4524;
}

.backleft {
	background-image: url('/images/paperedge_left1.jpg');
	background-position: right top;
}
.backright {
	background-image: url('/images/paperedge_right1.jpg');
	background-position: left top;
}

/*table { margin: 1em; border-collapse: collapse; border: 1px #111 solid;}
td, th { padding: .3em;  }
tbody { background: #333; }*/

#pageheadtable {
	margin: 0;
	border: 0;
	width: 1000px;
}

#content { 
	/*background-color: #222;*/ 
	background-image:url('/images/paper_back_faded.jpg');
	color:#000;
	/*border: solid 2px #151c2b;*/
}

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -30px; /* the bottom margin is the negative value of the footer's height */
}

.footer, .push {
   width:100%;
   height: 30px; /* .push must be the same height as .footer */
   background:#222;
}
/*#footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:30px;   
   background:#222;
   padding-left:20px;
   padding-bottom:10px;
}*/

a { color: #fff; }
a:link {text-decoration:underline; color: #4f4524; }
a:visited {text-decoration:underline; color:#4f4524; }
a:hover {text-decoration:underline;}
a:active {text-decoration:underline;}

h1, h2, h3, h4, h5 { 
	color:#603002;
	font-family:"ClearType", Calibri, sans-serif; 
	text-decoration:none;
	margin-top: 20px;
}

body, p, ol, ul, td {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 13px;
	line-height: 18px;
}

pre {
	background-color: #eee;
	padding: 10px;
	font-size: 11px;
}

.button {
	-moz-box-shadow:inset 0px 1px 0px -50px #cfcfcf;
	-webkit-box-shadow:inset 0px 1px 0px -50px #cfcfcf;
	box-shadow:inset 0px 1px 0px -50px #cfcfcf;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #b5b5b5), color-stop(1, #4d4d4d) );
	background:-moz-linear-gradient( center top, #b5b5b5 5%, #4d4d4d 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b5b5b5', endColorstr='#4d4d4d');
	background-color:#b5b5b5;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	border:2px solid #000000;
	display:inline-block;
	color:#d1e7ff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:5px 15px;
	text-decoration:none;
	text-shadow:1px 2px 0px #000000;
}.button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #4d4d4d), color-stop(1, #b5b5b5) );
	background:-moz-linear-gradient( center top, #4d4d4d 5%, #b5b5b5 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#4d4d4d', endColorstr='#b5b5b5');
	background-color:#4d4d4d;
}.button:active {
	position:relative;
	top:1px;
}

input
{
	color: #FFF;
	background: #44370b;
	border: 3px solid #000;
}

.pagetop {
	background-image: url('/images/header_paper.jpg');
	background-repeat:no-repeat;
	background-size:cover;
	font-size: 30px;
	color: #bbb;
	font-weight: bold;
	text-decoration:none;
}

.spelllistheader {
	font-size: 18px;
	font-weight: bold;
	text-decoration: underline;
}

div.field, div.actions {
	margin-bottom: 10px;
}

#notice {
	color: green;
}

.field_with_errors {
	padding: 2px;
	background-color: red;
	display: table;
}

#invalid_params {
    font-weight: bold;
    color: red;
    font-size: 16px;
}

#error_explanation {
	width: 450px;
	border: 2px solid red;
	padding: 7px;
	padding-bottom: 0;
	margin-bottom: 20px;
	background-color: #f0f0f0;
}

#error_explanation h2 {
	text-align: left;
	font-weight: bold;
	padding: 5px 5px 5px 15px;
	font-size: 12px;
	margin: -7px;
	margin-bottom: 0px;
	background-color: #c00;
	color: #fff;
}

#error_explanation ul li {
	font-size: 12px;
	list-style: square;
}
